body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}
.agileinfo-dot{
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- banner --*/
.banner{
	background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
	padding:1em 0;
}
/*-- header --*/
.header {
    margin: 2em 0 0 0;
}
/*-- social-icons --*/
.agileinfo-social-grids{
    float: left;
    margin-left: 0;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
	
}
.agileinfo-social-grids ul li a i.fa.fa-facebook,.agileinfo-social-grids ul li a i.fa.fa-twitter,.agileinfo-social-grids ul li a i.fa.fa-rss,.agileinfo-social-grids ul li a i.fa.fa-vk{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
.agileinfo-social-grids ul li:nth-child(2){
	margin:.5em 0;
}
.agileinfo-social-grids ul li:nth-child(3){
	margin:0 0 .5em 0;
}
/*-- //social-icons --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: solid 4px rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    border: solid 4px #ffffff;
    background: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-nav > li > a {
    font-size: 1em;
    padding: .5em 1.5em;
    margin-right: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    border: solid 4px #ffffff;
    background: none;
}
/*-- //header --*/
/*-- w3layouts-banner-info --*/
.w3layouts-banner-info {
    padding: 13em 0;
}
.agileits-logo{
	text-align:center;
}
.agileits-logo h1{
	margin:0;
}
.agileits-logo h1 a{
    font-size: 1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    border: solid 10px #fff;
    padding: .2em .5em;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 8px;
}
.agileits-logo p{
    color: #FFFFFF;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 80%;
    margin: 3em auto 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 10px;
}
/*-- //w3layouts-banner-info --*/
/*-- about --*/
.about,.services,.gallery,.team,.blog,.contact{
	padding:4em 0;
}
.w3l-heading h2,.w3l-heading h3{
    color: #212121;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 7px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
.w3-about-grids,.services-grids,.team-row,.w3-agile-blog-grids{
    margin: 4em 0 0 0;
}
.w3-about-left h5{
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.w3-about-left p{
	color:#999999;
	font-size:.9em;
	line-height:1.8em;
	margin:1em 0 0 0;
}
.w3-about-left p span{
	display:block;
	margin:1em 0 0 0;
}
.w3l-button {
    margin: 2em 0 1em 0;
}
.w3l-button a {
    color: #212121;
    font-size: .9em;
    text-decoration: none;
    padding: .5em 2em;
    background: none;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 1px #000000;
}
.w3l-button a:hover {
    background: #daae19;
    border: solid 1px #daae19;
    color: #FFFFFF;
}
.w3l-button a:focus{
	outline:none;
}
.w3ls-about-img1{
    background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 300px;
    margin: 3em 0 0 0;
}
.w3ls-about-img2{
	background:url(../images/5.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height:400px;
}
/*-- //about --*/
/*-- modal --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
	font-size: 1.5em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 8px;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //modal --*/
/*-- services --*/
.services{
	background:#232a34;
}
.services h3{
	color:#FFFFFF;
}
.wthree-services-grid{
	text-align:center;
}
.wthree-services-icon i.fa.fa-cutlery,.wthree-services-icon i.fa.fa-glass,.wthree-services-icon i.fa.fa-user,.wthree-services-icon i.fa.fa-asterisk{
	font-size: 2em;
    padding: 1.3em;
    width: 120px;
    height: 120px;
    color: #808489;
    background: none;
    border: solid 2px #808489;
    border-width: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.wthree-services-info h5{
    color: #808489;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 1em 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.wthree-services-info p{
	color:#808489;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.wthree-services-grid:hover .wthree-services-icon i.fa.fa-cutlery,.wthree-services-grid:hover .wthree-services-icon i.fa.fa-glass,.wthree-services-grid:hover .wthree-services-icon i.fa.fa-user,.wthree-services-grid:hover .wthree-services-icon i.fa.fa-asterisk{
	background:#FFFFFF;
	border:solid 2px #FFFFFF;
	color:#000000;
}
.wthree-services-grid:hover .wthree-services-info h5{
	color:#FFFFFF;
}
.wthree-services-grid:hover .wthree-services-info p{
	color:#FFFFFF;
}
/*-- //services --*/
/*-- gallery --*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background: #daae19;
    border: solid 2px #daae19;
}
.nav-tabs > li > a {
    margin-right: 3px;
    font-size: 1em;
    color: #212121;
    border: solid 2px #212121;
    border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
    padding: .5em 1em;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 4em auto;
    width: 56%;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 10px;
}
.nav-tabs > li > a:hover {
    color: #FFFFFF;
    background: #daae19;
    border: solid 2px #daae19;
}
.w3_tab_img_left {
	padding:0;
}
.agile-gallery-info{
    padding: 1em;
    background: #ffffff;
}
.agile-gallery-info h5{
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.agile-gallery-info p{
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
.agile-gallery-info{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.w3_tab_img_left:hover .agile-gallery-info{
	background: #daae19;
	color:#FFFFFF;
}
.w3_tab_img_left:hover .agile-gallery-info p{
	color:#FFFFFF;
}
/*-- //gallery --*/
/*-- team --*/
.team{
	background: #232a34;
}
.team-heading h3{
	color:#FFFFFF;
}
.team-grids .team-img {
	overflow: hidden;
	position: relative;
	display: block;
}
.captn h4 {
	color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.captn p {
    font-size: .9em;
    margin-top: 1em;
	color:#fff;
	line-height:1.8em;
}
.team-grids .captn {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.captn-top {
    padding: 16% 10%;
}
.team-img:hover .captn {
	width: 100%;
	top: 0%;
}
img.img-responsive {
    width: 100%;
}
.team .wthree-social-grids{
    background: #daae19;
    padding: 1em;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    transition: 1s all;
}
.team-img:hover .wthree-social-grids {
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1);
}
.wthree-social-grids ul{
    padding: 0;
    margin: 0;
}
.wthree-social-grids ul li{
    display: inline-block;
}
.wthree-social-grids ul li a {
	color: #333;
    text-align: center;
}
.wthree-social-grids ul li a i.fa.fa-facebook,.wthree-social-grids ul li a i.fa.fa-twitter,.wthree-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 30px;
	border:solid 2px #FFF;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.wthree-social-grids ul li a i.fa.fa-facebook:hover{
	background: #3b5998;
}
.wthree-social-grids ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.wthree-social-grids ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
/*--//team--*/